[user]
    name = Gregory Desfour
	email = 4745060-gouegd@users.noreply.gitlab.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    s = status
    st = status -s
    ci = commit
    co = checkout
    br = branch
    dc = diff --cached
    #verifier ce qu'on va commiter (et non pusher)
    ds = diff --staged
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lt = "log --graph --oneline --decorate --all"
    logtree = "log --graph --oneline --decorate --all"
    conf = config --edit --global
    f = "!git ls-files | grep -i"
    grep = grep -Ii
    la = "!git config -l | grep alias | cut -c 7-"
    d = difftool
    all = "!git add -A :/"
    subup = submodule update --rebase --remote
    pullall = "!git pull --recurse-submodules && git submodule update --recursive"
    pupu = "!git push -u origin HEAD:$(git branch --show-current)  -o merge_request.create -o merge_request.target=master"
[pull]
    rebase = true
[push]
    default = simple
[rerere]
    enabled = true
[core]
	editor = vim
[url "git@github.com:"]
	insteadof = https://github.com/
[init]
	defaultBranch = main
# git-delta START
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# git-delta END