[user]
    name = Gregory Desfour
    email = gregory.desfour@accedo.tv
[alias]
    s = status
    pr = pull --rebase
    cp = cherry-pick
    st = status -s
    cl = clone
    ci = commit
    co = checkout
    br = branch
    diff = diff --word-diff
    dc = diff --cached
    #verifier ce qu'on va commiter (et non pusher)
    ds = diff --staged
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    sl = stash list
    sa = stash apply
    ss = stash save
    sp = stash pop
    conf = config --edit --global
    f = "!git ls-files | grep -i"
    grep = grep -Ii
    la = "!git config -l | grep alias | cut -c 7-"
    logtree = "log --graph --oneline --decorate --all"
    ri = rebase -i
[pull]
    rebase = true
[push]
    default = simple
