"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a5944747-9303-4244-a57b-f873315457b7"
    go: {}
  "atom-material-ui":
    compactTreeView: true
    disableAnimations: true
    panelContrast: true
    showTabIcons: "Show on all tabs"
    tabSize: "Small"
    useRoboto: true
  "atom-terminal":
    app: "iTerm.app"
  "atom-ternjs": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "ide-flow"
      "nuclide-flow"
      "linter-flow"
      "selection-highlight"
      "linter-jshint"
      "vim-shift-movers"
      "autocomplete-go"
      "builder-go"
      "go-config"
      "go-debug"
      "go-get"
      "go-plus"
      "godoc"
      "gometalinter-linter"
      "gorename"
      "tester-go"
      "navigator-go"
    ]
    packagesWithKeymapsDisabled: [
      "elm-format"
      "bracket-matcher"
    ]
    telemetryConsent: "limited"
    themes: [
      "unity-dark-ui"
      "spacemacs-dark-syntax"
    ]
  "cursor-history":
    flashOnLand: true
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    preferredLineLength: 120
    tabType: "soft"
  "elm-format":
    showNotifications: true
  elmjutsu:
    autocompleteEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/var/folders/_v/21z0lsks5cs9bllyt0bf50br0000gn/T/elmjutsu3103S1wv6HcBQFSr"
    hyperclickEnabled: true
    sidekickPosition: "right"
    sidekickSize: 300
  "exception-reporting":
    userId: "01170781-7fbb-066a-e0b0-ad63d05a525f"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-log": {}
  "go-plus":
    currentPanelHeight: "30.86092715231788vh"
  gofmt: {}
  "ide-flow": {}
  jumpy: {}
  "language-babel":
    babelMapsPath: "./babelled/"
    babelTranspilePath: "./babelled/"
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter:
    errorPanelHeight: 116
    gutterPosition: "Left"
  "linter-eslint":
    fixOnSave: true
  "linter-flow":
    testRuleTwo: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  nuclide:
    "nuclide-home":
      showHome: false
  "nuclide-flow": {}
  "one-dark-ui": {}
  "quick-highlight":
    countDisplayPosition: "Right"
    decorate: "highlight"
  "run-command2": {}
  "selection-highlight":
    highlightBackground: true
    lightTheme: true
  "seti-icons":
    iconsPlus: true
    noColor: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  "unity-dark-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus-move-selected-text": {}
  "vim-surround": {}
  "webbox-color": {}
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".elm.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 100
    showIndentGuide: true
".source.toml":
  editor:
    preferredLineLength: 100
    tabLength: 4
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
