/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow {
  .cursor {
    border-color: red;
    border-width: 2px;
  }
  .selection .region {
    background-color: rgba(255,0,0,.6);
  }
  // make comments' bg not opaque or it's hard to see the selection
  .comment {
    background-color: rgba(41, 46, 52, .5)
  }
  .line-number.cursor-line {
    background-color: rgba(255,0,0,.6);
    color: #888;
    font-weight: normal;
  }

  // highlight stuff in red :)
  .quick-highlight.box-selection .region {
    border-radius: 0;
    border-color: red;
  }

}



// la branche git devrait ressortir un peu du reste en bleu
.git-branch {
  color: #55f;
}

// fonte Input dans l'éditeur de texte
body atom-text-editor {
  font-family: "Input", "Helvetica Neue", Helvetica, monospace !important
}

// les tabs sont moches avec le style inspiré de OSX.
.tab-bar {
  border: none;
}
.tab {
  background: #555 !important;
  border: none !important;
}
.tab.active {
  background: #66d !important;
  font-weight: bolder;
}
.tab-bar .tab .close-icon {
  color: white !important;
}
.tab > .title:not([class*="status"]) {
  color: #ddd;
}

 // en theme dark c'est invisible
.theme-unity-dark-ui {
  .status-bar a {
    color: #888;
  }
  linter-bottom-tab.active {
    background-color: #888;
  }
}

// use transparency to avoid hiding the linter's underlining
atom-text-editor::shadow .cursor-line {
  background-color: rgba(0,0,0,0.4);
}

// seems to be a thing on Unity Dark UI - put back git status text colors
.tree-view {
  .file, .directory.collapsed {
    &.status-added {
      color: #6dcc50;
    }
  }
  .file, .directory.collapsed {
    &.status-modified {
      color: #f9a646;
    }
  }
}


// BIGGER Vim mode indication
.status-bar-vim-mode-plus-normal,
.status-bar-vim-mode-plus-insert,
.status-bar-vim-mode-plus-visual {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  width: 18rem;
  text-transform: uppercase;
}

.status-bar-vim-mode-plus-normal {
  background: rgb(105, 238, 103);
  color: rgb(4, 111, 11);
}

.status-bar-vim-mode-plus-insert {
  background: rgb(7, 193, 242);
  color: white;
}

.status-bar-vim-mode-plus-visual {
  background: rgb(255, 206, 98);
  color: rgb(168, 117, 5);
}

// minimap
atom-text-editor atom-text-editor-minimap::shadow .minimap-visible-area::after,
atom-text-editor::shadow atom-text-editor-minimap::shadow .minimap-visible-area::after {
  background-color: rgba(0, 0, 0, 0.2);
  border-right: 1px solid white;
}
